<!-- HEADER -->
<div class="row align-items-center">
    <img src="../../../assets/images/logo.jpeg" class="img-fluid col-sm-1">
    <div class="page-header col-sm-9">
        <h3>L'Émission</h3>
        <h4>Here is my show</h4>
    </div>
    <div class="col-sm-2">
        <div class="card text-center my-1 align-middle">
            <div class="card-body">
                <b>{{ estimatedTime() }}</b>
            </div>
        </div>
        <button class="btn btn-sm btn-block btn-success" (click)="toggleTimer()">GO</button>
    </div>
</div>

<!-- PROGRESS BAR -->
<div class="container mb-4 mt-2">
    <div class="row justify-content-center">
        <div class="progress col-10 px-0" style="height: 8px;">
            <div class="progress-bar" role="progressbar" [ngStyle]="barStyle2"></div>
        </div>
    </div>
</div>

<div class="row">

    <!-- LEFT PANNEL -->
    <div class="col-sm-4">
        <div class="row">
            <!-- PROGRESS BAR -->
            <div class="col-sm-1">
                <div class="progress vertical-prg">
                    <div class="vertical-progress-bar" role="progressbar" [ngStyle]="barStyle"></div>
                </div>
            </div>
            <!-- SHOW PARTS -->
            <div class="col-sm-11">
                <div *ngFor="let part of parts; index as i;" class="card my-1">
                    <div class="card-body">
                        {{ part.name }}
                        <span class="badge badge-primary float-right">
                            {{ part.durationInMinute }} minutes
                        </span>
                        <p class="card-text">
                            {{ gfdhfudjhdjs + " / " + formatRemainingTime(part.durationInMinute*60*1000) }}
                        </p>
                    </div>
                    <div class="dfr" [ngStyle]="itemStyles[i]"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- BLANK PANNEL -->
    <div class="col-sm-6">

    </div>

     <!-- RIGHT PANNEL -->
    <div class="col-sm-2">
        <div class="my-2 text-center bang align-middle">
            <b>12 POINTS</b>
        </div>

        <button class="btn btn-block btn-primary btn-sm mx-1"
            (click)="createTimeSlot()">
            CREATE A SLOT
        </button>

        <div *ngFor="let milestone of milestones"
            class="my-1 bang">
            <b>{{ milestone.date | date:'short' }}</b><br/>
            {{ milestone.showpart.name }}<br/>
            <i>{{ formatRemainingTime(milestone.elapsedTimeInMillis) }}</i>
        </div>

    </div>
   
</div>