<!-- HEADER -->
<div class="row align-items-center">
    <!-- <img src="../../../assets/images/logo.jpeg" class="img-fluid col-sm-1"> -->
    <div class="page-header col-sm-10">
        <!-- <h3>L'Émission</h3>
        <h4>Here is my show</h4> -->
        <div *ngFor="let sound of sounds" class=" mx-1 btn my-1 btn-sm btn-warning"
            (click)="playSound(sound)">
            {{ sound.title }}
        </div>

    </div>



    <div class="col-sm-2">
        <div class="card text-center my-1 align-middle">
            <div class="card-body">
                <b>{{ toHHMMSS(remainingTime) }}</b>
            </div>
        </div>
    </div>
</div>

<!-- PROGRESS BAR -->
<div class="container mb-4 mt-2">
    <div class="row justify-content-center">
        <div class="progress col-10 px-0" style="height: 8px;">
            <div class="progress-bar" role="progressbar" [ngStyle]="globalProgressBarStyle"></div>
        </div>
    </div>
</div>

<div class="row">

    <!-- LEFT PANNEL -->
    <div class="col-sm-3">

        <div class="row">

            <!-- PROGRESS BAR -->
            <!-- <div class="col-sm-1">
                <div class="progress vertical-prg">
                    <div class="vertical-progress-bar" role="progressbar" [ngStyle]="barStyle"></div>
                </div>
            </div> -->
            



           <!-- GUEST PART -->
            <div class="col-sm-6" [hidden]="false">
                    <div *ngFor="let jingle of jingles" class="btn my-1 btn-sm btn-block btn-primary"
                        (click)="playJingle(jingle)">
                        {{ jingle.title }}
                </div>
            </div>




                <!-- <div *ngFor="let guestFile of guestFiles" 
                    class="card my-1"
                    (click)="getGuestInfo(guestFile.fileId)">
                    <div class="card-body">
                        {{ guestFile.artistName }}
                        <span class="badge badge-primary float-right">
                            {{ guestFile.artistType }}
                        </span>
                        <p class="card-text">
                            {{ guestFile.fileId }} 
                        </p>
                    </div>
                </div> -->

                 <!-- SHOW PARTS -->
                <!-- <div *ngFor="let part of parts; index as i;" class="card my-1">
                    <div class="card-body">
                        {{ part.name }}
                        <span class="badge badge-primary float-right">
                            {{ part.durationInMinute }} min
                        </span>
                        <p class="card-text">
                            {{ gfdhfudjhdjs + " / " + toHHMMSS(part.getRealDuration()) }}
                        </p>
                    </div>
                    <div class="dfr" [ngStyle]="itemStyles[i]"></div>
                </div>
            </div> -->
        </div>
    </div>

    <!-- MIDDLE PANNEL -->
    <div class="col-sm-7">
    
        <button [hidden]="true" class="btn btn-block btn-sm btn-warning" (click)="getGames()">Get Games</button>
        <button *ngIf="!hasShowBegun()" class="btn btn-block btn-sm btn-success" (click)="startShow()">GO</button>
        
        <!-- CURRENT GUEST -->
        <table *ngIf="details">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Project</th>
                <th>Improvisation</th>
                <th>Favorite song</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{details.artistName}}</td>
                    <td>{{details.artistType}}</td>
                    <td>{{details.project.exists}}</td>
                    <td>{{details.gameInfo.improvisation}}</td>
                    <td><a href={{details.favoriteSong.downloadURL}}>Hey</a></td>
                </tr>            
            </tbody>
        </table>

        <!-- CURRENT PART -->
        <div *ngIf="currentPart" class="card my-2">

            <div class="card-header pl-0 pb-0 pr-3">
                <h5 class="pl-3">
                    {{currentPart.name}}
                    <span class="badge badge-secondary float-right">{{ currentPart.durationInMinute }} min</span>
                </h5>            
                <div [ngStyle]="currentPartStyle" class="loading-bar"></div>
            </div>

            <div class="card-body">

                <!-- INTRODUCTION CONTENT -->
                <app-introduction *ngIf="currentPart.name === 'Introduction'">
                </app-introduction>

                <!-- PRESENTATION CONTENT -->
                <app-presentation *ngIf="currentPart.name === 'Présentation'">
                </app-presentation>

                <!-- DIFFUSION CONTENT -->
                <app-diffusion *ngIf="currentPart.name === 'Diffusion'"
                    [song]="songToPlay">
                </app-diffusion>

                <!-- DECORTICATION CONTENT -->
                <app-decortication *ngIf="currentPart.name === 'Décortication'">
                </app-decortication>

                <!-- FAVORIS CONTENT -->
                <app-favorite *ngIf="currentPart.name === 'Favoris'">
                </app-favorite>

                <!-- DIFFUSION MORCEAU FAVORIS CONTENT -->
                <app-diffusion *ngIf="currentPart.name === 'Diffusion Morceau favoris'"
                    [song]="favoriteSong">
                </app-diffusion>

                <!-- LIVE CONTENT -->
                <app-live *ngIf="currentPart.name === 'Live'"
                    [song]="songForLive">
                </app-live>

                <!-- FREESTYLE CONTENT -->
                <app-freestyle *ngIf="currentPart.name === 'Freestyle'">
                </app-freestyle>

                <!-- PROJETS CONTENT -->
                <app-project *ngIf="currentPart.name === 'Projets'">
                </app-project>

                <!-- CAZARRE CONTENT -->
                <app-cazarre *ngIf="currentPart.name === 'Chronique Cazarre'"
                    [audios]="cazaToofSongs">
                </app-cazarre>

                <!-- PLEBS CONTENT -->
                <app-plebs *ngIf="currentPart.name === 'Question de la plebe'">
                </app-plebs>

                <!-- PROMO CONTENT -->
                <app-promotion *ngIf="currentPart.name === 'Promotion'">
                </app-promotion>
            
                <!-- DEATH GAME CONTENT -->
                <app-death-game *ngIf="currentPart.name === 'Épreuve de la mort'">
                </app-death-game>

                <!-- LANGUES ETRANGERES CONTENT -->

                <!-- ESCAPE CONTENT -->
                <app-escape-game *ngIf="currentPart.name === 'Escape game'">
                </app-escape-game>

                <!-- QUIZZ CONTENT -->
                <app-quiz *ngIf="currentPart.name === 'Quiz classic'">
                </app-quiz>

                <!-- DEFAULT CONTENT -->
                <div *ngIf="currentPart.name !== 'Chronique Cazarre' 
                    && currentPart.name !== 'Présentation'
                    && currentPart.name !== 'Live'
                    && currentPart.name !== 'Épreuve de la mort'
                    && currentPart.name !== 'Diffusion'
                    && currentPart.name !== 'Diffusion Morceau favoris'
                    && currentPart.name !== 'Question de la plebe'
                    && currentPart.name !== 'Introduction'
                    && currentPart.name !== 'Favoris'
                    && currentPart.name !== 'Promotion'
                    && currentPart.name !== 'Freestyle'
                    && currentPart.name !== 'Projets'
                    && currentPart.name !== 'Décortication'
                    && currentPart.name !== 'Escape game'
                    && currentPart.name !== 'Quiz classic'">
                    <p class="card-text">{{currentPart.description}}</p>
                </div>
                
                <footer class="blockquote-footer">
                    <div class="mb-0" [ngStyle]="getTimeStateStyle(currentStateTime)">Temps écoulé {{ toHHMMSS(currentPartTime) }}</div>
                    <button role="button"
                        class="btn btn-primary btn-sm float-right"
                        (click)="nextPart()"
                        [disabled]="isShowFinish()">
                        {{ isTheLastPartOfTheShow() ? "Finish" : "Next" }}
                    </button>
                </footer>
            </div>
        </div>

        <!-- TODO PANNEL -->
        <div class="bordered" [hidden]="true">
            <ol>
                <li *ngFor="let todo of todos">
                    <b> {{todo.state == -1 ? "[KO]" : "[OK]" }} {{ todo.task }}</b> -> {{ todo.goals }}
                </li>
            </ol>
        </div>
    </div>

     <!-- RIGHT PANNEL -->
    <div class="col-sm-2">
        <button *ngIf="isShowFinish()" 
            class="btn btn-warning btn-sm btn-block"
            (click)="exportAsJSON()">SAVE</button>
        <!-- POINTS -->
        <app-points (onPointsUpdated)="setPoints($event)"></app-points>

        <!-- DISPLAY MILESTONES -->
        <div *ngFor="let milestone of milestones"
            class="my-1 bordered small rounded">
            <span [ngClass]="milestone.inTime ? 'badge small float-right badge-info' : 'badge small float-right badge-danger'">{{ toHHMMSS(milestone.elapsedTimeInMillis) }}</span>
            <b>{{ milestone.showpart.name }}</b><br/>
            <!-- <p class="small mb-0">{{ toHHMMSS(milestone.elapsedTimeInMillis) }}</p> -->
        </div>

    </div>
</div>