<!-- HEADER -->
<div class="row align-items-center">
    <img src="../../../assets/images/logo.jpeg" class="img-fluid col-sm-1">
    <div class="page-header col-sm-9">
        <h3>L'Émission</h3>
        <h4>Here is my show</h4>
    </div>
    <div class="col-sm-2">
        <div class="card text-center my-1 align-middle">
            <div class="card-body">
                <b>{{ toHHMMSS(remainingTime) }}</b>
            </div>
        </div>
    </div>
</div>

<!-- PROGRESS BAR -->
<div class="container mb-4 mt-2">
    <div class="row justify-content-center">
        <div class="progress col-10 px-0" style="height: 8px;">
            <div class="progress-bar" role="progressbar" [ngStyle]="globalProgressBarStyle"></div>
        </div>
    </div>
</div>

<div class="row">

    <!-- LEFT PANNEL -->
    <div class="col-sm-3">
        <div class="row">
            <!-- PROGRESS BAR -->
            <div class="col-sm-1">
                <div class="progress vertical-prg">
                    <div class="vertical-progress-bar" role="progressbar" [ngStyle]="barStyle"></div>
                </div>
            </div>
            <!-- SHOW PARTS -->
            <div class="col-sm-11">
                <div *ngFor="let part of parts; index as i;" class="card my-1">
                    <div class="card-body">
                        {{ part.name }}
                        <span class="badge badge-primary float-right">
                            {{ part.durationInMinute }} min
                        </span>
                        <p class="card-text">
                            {{ gfdhfudjhdjs + " / " + toHHMMSS(part.getRealDuration()) }}
                        </p>
                    </div>
                    <div class="dfr" [ngStyle]="itemStyles[i]"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- MIDDLE PANNEL -->
    <div class="col-sm-7">
    
        <button *ngIf="!hasShowBegun()" class="btn btn-block btn-sm btn-success" (click)="startShow()">GO</button>
        
        <!-- CURRENT PART -->
        <div *ngIf="currentPart" class="card my-2">
            <div class="card-header pl-0 pb-0 pr-3">
                <h5 class="pl-3">
                    {{currentPart.name}}
                    <span class="badge badge-secondary float-right">{{ currentPart.durationInMinute }} min</span>
                </h5>            
                <div [ngStyle]="currentPartStyle" class="loading-bar"></div>
            </div>
            <div class="card-body">
                <p class="card-text">{{currentPart.description}}</p>
                <footer class="blockquote-footer">
                    <div class="mb-0" [ngStyle]="getTimeStateStyle(currentStateTime)">Temps écoulé {{ toHHMMSS(currentPartTime) }}</div>
                    <button role="button"
                        class="btn btn-primary btn-sm float-right"
                        (click)="nextPart()"
                        [disabled]="isShowFinish()">
                        {{ isTheLastPartOfTheShow() ? "Finish" : "Next" }}
                    </button>
                </footer>
            </div>
        </div>

        <!-- TODO PANNEL -->
        <!-- <div class="bordered" hidden> -->
        <div class="bordered">
            <ol>
                <li *ngFor="let todo of todos">
                    <b> {{todo.state == -1 ? "[KO]" : "[OK]" }} {{ todo.task }}</b> -> {{ todo.goals }}
                </li>
            </ol>
        </div>
    </div>

     <!-- RIGHT PANNEL -->
    <div class="col-sm-2">
        <button *ngIf="isShowFinish()" 
            class="btn btn-warning btn-sm btn-block"
            (click)="exportAsJSON()">SAVE</button>
        <!-- POINTS -->
        <div class="bordered my-2">
            <div>
                <h5>POINTS
                    <a href="#" class="btn badge badge-pill badge-secondary float-right small"
                    (click)="resetPoints()">reset</a>
                </h5>
            </div>
            <div class="row align-items-center">
                <div class="col-4">
                    <button type="button" class="btn btn-danger btn-block btn-sm" (click)="reducePoints()"> - </button>
                </div>
                <div class="col-4 text-center bordered">
                    <b>{{ points }}</b>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-success btn-block btn-sm" (click)="addPoints()"> + </button>
                </div>
            </div>
        </div>

        <!-- DISPLAY MILESTONES -->
        <div *ngFor="let milestone of milestones"
            class="my-1 bordered small rounded">
            <span [ngClass]="milestone.inTime ? 'badge small float-right badge-info' : 'badge small float-right badge-danger'">{{ toHHMMSS(milestone.elapsedTimeInMillis) }}</span>
            <b>{{ milestone.showpart.name }}</b><br/>
            <!-- <p class="small mb-0">{{ toHHMMSS(milestone.elapsedTimeInMillis) }}</p> -->
        </div>

    </div>
</div>